body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* grid */
.wrapper {
  margin: 0 15px;
}

@media (min-width: 996px) {
  .wrapper {
    margin: 0 30px;
  }
}
